.ProductCard {
  min-width: 150px;
  width: 20%;
  display: inline-block;
  margin: 10px;
  height: 600px;
  overflow: auto;
  border: 1px solid gray;
  padding: 15px;
}

.colorBox {
  width: 50px;
  height: 50px;
  display: inline-block;
}

h3 {
  font-size: 20px;
}
